@font-face {
  font-family: 'JelloStone';
  src: url('/JelloStone-YqKz8.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    /* slightly larger base font-size for the whole app */
    font-size: 112%;
  }

  * {
    font-family: 'JelloStone', system-ui, sans-serif !important;
  }

  body {
    @apply bg-slate-900 text-white;
  }
}
