@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Thertole';
  src: url('./assets/fonts/Thertole-PersonalUse.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  * {
    font-family: 'Thertole', system-ui, sans-serif;
  }

  body {
    @apply bg-slate-900 text-white;
  }
}
