@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Bedrock BT';
  src: url('/assets/fonts/Bedrock-BT.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  * {
    font-family: 'Bedrock BT', system-ui, sans-serif;
  }

  body {
    @apply bg-slate-900 text-white;
  }
}
