@font-face {
  font-family: 'Bedrock BT';
  src: url('/Bedrock-BT-Original.ttf') format('truetype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: 'Bedrock BT', system-ui, sans-serif !important;
  }

  body {
    @apply bg-slate-900 text-white;
  }
}
