@font-face {
  font-family: 'Bedrock BT Semi Condensed';
  src: url('/Bedrock-BT.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: 'Bedrock BT Semi Condensed' !important;
  }

  body {
    @apply bg-slate-900 text-white;
  }
}
